body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #252525;
}

a.active {
  text-decoration: underline;
  color: yellow;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightblue;  
}
.nav ul {
  display: flex;
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.leaderboard-list {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.leaderboard-entry {
  width: 150px;
}

.auth {
  padding-right: 40px;
}

.dashboard {
  margin-top: 30px;
}

.title {
  padding-left: 50px;
}

.salutation {
  padding-left: 50px;
}

.question-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.question-list {
  display: flex;
  flex-direction: column;
}


.question {
  display: flex;
  flex-direction: row;
  height: 100px;
  border: 1px solid #000;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.question-author {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.optionOne {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: yellow;
}

.optionOne-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: lightblue;
}

.optionTwo {
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: pink;
}

.optionTwo-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: greenyellow;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-question-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.new-option1 {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.new-option2 {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.button-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.submit-button {
  width: 120px;
  height: 40px;
  border-radius: 25px;
  border: solid 1px green;
  background-color: transparent;
  color: green;
}

.submit-button:hover {
  background-color: green;
  color: white;
}
.submit-button:active {
  background-color: darkgreen;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

.user-entry {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.question-selector {
  cursor: pointer;
}

